h1, h2{
  font-family:serif;
  font-style: italic;
  text-align: center;
}
body{
  background-color: coral;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 25px;
  margin-top:10px;
}
p{
  font-family: times;
  font-weight: 500;
}
table, th, td{
  border: 2px solid black;
}
th, td{
  text-align: center;
}
*.warning{
  color: #F0FFFF;
  font-weight: 800;
  text-align: center;
  font-size: 18px;
}
a:hover{
  background-color: gold;
}
img{
  border: 2px solid black;
}
*.img-circle{
  border-radius: 25%;
}
*.img-square{
  width:300px;
  height:300px;
}
*.img-rectanglelong{
  width: 300px;
  height: 200px;
}
*.img-rectanglehigh{
  width:225px;
  height:250px;
}
*.center-align{
  text-align: center;
}
